<div class="calculator">

    <!-- display calculator -->
    <input type="text" class="calculator-screen" [value]="result" disabled/>

    <!-- keyboard calculator -->
    <div class="calculator-keys">
        
        <!-- operators -->
        <button type="button" class="operator" value="+">+</button>
        <button type="button" class="operator" value="-">-</button>
        <button type="button" class="operator" value="*">&times;</button>
        <button type="button" class="operator" value="/">&divide;</button>
    
        <!-- 1-line numbers -->
        <button type="button" value="7">7</button>
        <button type="button" value="7">8</button>
        <button type="button" value="7">9</button>

        <!-- 2-line numbers -->
        <button type="button" value="7">4</button>
        <button type="button" value="7">5</button>
        <button type="button" value="7">6</button>

        <!-- 3-line numbers -->
        <button type="button" value="7">1</button>
        <button type="button" value="7">2</button>
        <button type="button" value="7">3</button>

        <!-- 4 line number and especial caracteres -->
        <button type="button" value="0">0</button>
        <button type="button" class="decimal" value=".">.</button>
        <button type="button" class="all-clear" value="all-clear">AC</button>

        <button type="button" class="equal-sign" value="=">=</button>

    </div>

</div>